body
{

    margin: 0 auto;
    margin-top: 60px;
}


#wrap{
    width: 960px;
    margin: 0 auto;
    margin-top: 100px;
}



header 
{
    width:960px; 
    margin:0 auto; 
    z-index:101
}

nav
{
    background: #ebebec;
    border-radius: 12px 8px 8px 12px;
    padding: 4px;
}

ul 
{
    margin:0; 
    padding:0;
    list-style-image:none
}

a 
{
    text-decoration:none; 
    cursor:pointer
}

a:hover 
{
    text-decoration:none
}


nav>div {background-color: rgb(188,28,28); border-radius:12px 8px 8px 12px}

ul.menu-services {margin:0 1px 0 0;  border-right:black 1px solid; display:inline-block; float:left; list-style-type:none;}


ul.menu-services li {float:left; 
                    line-height:17px; 
                    margin:0 0 0 0; 
                    background:url(../images/transp.png) 0 0 repeat; 
                    border-right:black 1px solid; 
                    border-left :black 1px solid
}


ul.menu-services li a {line-height:17px; 
                        color:#fff; 
                        font-weight:bold; 
                        display:block; 
                        padding:23px 28px 24px 28px
}


ul.menu-services li.home-page {display:inline-block; 
                                background:url(../images/transp.png) 0 0 repeat; 
                                border-radius:8px 0 0 8px; 
                                border:none !important; 
                                border-left :none !important
}


ul.menu-services li:hover , ul.menu li.current {background:url(../images/current.jpg) 0 0 repeat-x #000000;
                                                border-right:#000000 1px solid; 
                                                border-left:#000000 1px solid
}


ul.menu-services li.home-page a {padding:21px 22px 24px 23px !important
}


ul.menu-services li.home-page span {background:url(../images/home-page-img.png) 0 0 no-repeat; 
                                    width:19px; 
                                    height:19px; 
                                    display:block
}

 

.clear {clear:both; line-height:0; font-size:0; width:100%}

.social-icons {overflow:hidden; text-align:right; padding:20px 30px 13px ;}
.social-icons span {display:inline-block;  line-height:17px; color:#fff; font-weight:bold; margin:3px 14px 0 0}
.social-icons a {display:inline-block;  line-height:17px; color:#fff; font-weight:bold; margin:3px 14px 0 0}

#barfixed {
    position: fixed;
    top: 0px;
    width: 100%!important;
    height: 38px;
    z-index: 3000000;
   padding-left: 100px;
   padding-top: 10px;
    font-family: Arial, Helvetica;
    color: #585858;
    /* Adds shadow to the bottom of the bar */
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    /* Adds the transparent background */
    background-color: rgba(1, 1, 1, 0.8);
}



#barfixed a {
color: white;
text-decoration: none;
}

#barfixed p {

display: inline;
font-size: 18px;
width: 100px;
position: relative;
left: 50%;
margin-left: -150px;
color: white;
text-decoration: none;
}

#barfixed a:hover {
color: grey;
} 

 #container {
            width: 960px;
            margin: 20px auto;
            padding: 50px 0;
            overflow: hidden;
            position: relative;
                }

#container h2{
 border-bottom: 4px solid #BC1C1C;
 color: #BC1C1C!important;
 height: 31px;
 margin-bottom: 10px;
 font:bold 20px/34px Exo!important;
}

#container h3{
 border-bottom: 2px solid #BC1C1C;
 color: #BC1C1C!important;
 height: 31px;
 margin-bottom: 10px;
 font:bold 20px/34px Exo!important;
}

.blockgauche {float:left; width:270px; margin-right:36px}
.blockdroite {float:left; width:580px}


/* LIST #2 */

ol.list2 { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#BC1C1C;  }
ol.list2 li { }
ol.list2 li a {font-size:15px !important; font-style:normal; font-family:Arial; color:#BC1C1C;}
ol.list2 li p em { display:block; }


.img-border {border:#ebebec 4px solid; border-radius:12px}

table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: center;
    padding-left:20px;
}
table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

/****************************footer************************/
footer {width:100%; position:relative; overflow:hidden; text-align:center; padding:20px 0 20px 0}
footer p, footer a {color:#fff}
footer a:hover {text-decoration:underline}

.Sous-container {padding:22px 26px 23px 26px; background:url(../images/border-1.gif) 0 bottom repeat-x}
.border-1 {background:url(../images/border-1.gif) 0 bottom repeat-x}
.pad-0 {padding:22px 26px 23px 26px}


.last {margin-right:0 !important}
.wrap2 {overflow:hidden; position:relative}
.pad-1 {padding:30px 26px 40px 26px}
.p0 {padding-bottom:8px}
.block-1>div {float:left; width:278px; margin-right:27px}
.block-1>div h3 {margin-bottom:16px}
.block-1>div img {margin-bottom:12px}
.block-1>div a.button {margin:18px 0 0 0}
.top-1 {margin-top:12px}
.p2 {padding-bottom:12px}
a.button {background:#BC1C1C; font-size:14px; line-height:20px; color:#fff; display:inline-block; padding:6px 20px 5px 20px; border-radius:5px; box-shadow:0 1px 1px #fff}
a.button:hover {background:#131313}

  .btn-lg {     
            width: 106px!important;
              padding: 10px 16px;
              font-size: 18px;
              line-height: 1.33;
              border-radius: 6px;
            }

            .btn-orange {
                background-color: #ff7600;
                border-bottom:2px solid #d35400;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                color:#ffffff;
                text-decoration: none;
            }

            .btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
                background-color: #d35400;
                color:#ffffff;
            }

            .btn-green {
                background-color:#2ecc71;
                border-bottom:2px solid #27ae60;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                color:#ffffff;
                text-decoration: none;
            }

            .btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
                background-color: #27ae60;
                color:#ffffff;
            }


            .Sous-container2 {padding:150px 26px 23px 26px;}