/* CSS Reset (Eric Meyer) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}


@font-face {
   font-family: 'Cantarell';
   src: url(../fonts/Cantarell-Regular.eot);
   src: local('Cantarell'), url('../fonts/Cantarell-Regular.ttf') format('truetype');
}

body {
    background-color: #f9f9f9;
    color: #222;
    font-family: Cantarell, Verdana, sans-serif;
    font-size: 12px;
}

header 
{
    width:960px; 
    margin:0 auto; 
    z-index:101
}

nav
{
    background: #ebebec;
    border-radius: 12px 8px 8px 12px;
    padding: 4px;
}

#wrap{
    width: 960px;
    margin: 0 auto;
    margin-top: 100px;
}

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : none; } 
input[type="submit"]:focus, input[type="button"]:focus { outline : none; }

.clear { clear: both; }

#container {
    background: url('../images/container.png') no-repeat;
    width: 754px;
    height: 370px;
    margin: 20px auto;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}
    #container #first_step, #second_step, #third_step, #fourth_step, #fifth_step { display: none; }
    #container #first_step { display: block; }

    #container .form { margin: 66px 72px 0 72px; }
    
    #container h1, #container h2 {
        font-size: Cantarell, Verdana, sans-serif;
        text-align: center;
        font-size: 24px;
        text-shadow: 1px 1px 2px #222;
    }
        #container h1 span { color: #a90329; }
        
    #container h2 {
        color: #888;
        font-size: 20px;
        text-align: left;
        text-shadow: none;
    }
    
    #container table {
        margin: 20px 40px;
        font-size: 14px;
        font-weight: bold;
    }
        #container table td {
            padding: 5px 10px;
        }
            #container table td:nth-child(2) {
                color: #a90329;
            }   
        
    #container input, #container select {
        background: url('../images/input.png') no-repeat;
        color: #888;
        border: 1px solid #ccc;
        font-family: Cantarell, Verdana, sans-serif;
        font-weight: bold;
        font-size: 15px;
        width: 300px;
        height: 35px;
        padding: 0 25px;
        margin: 20px 0;
        float: left;
        
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }
        #container input.submit {
            background: url('../images/button.png') no-repeat;
            border: none;
            cursor: pointer;
            width: 85px;
            height: 38px;
            position: relative;
            bottom: 2px;
            left: 655px;
        }
            #container input.submit:focus { border: none; }
        
        #container input.send{ background: url('../images/send.png') no-repeat; }
            
        #container input.error { border: 1px solid red; }
        #container input.valid { border: 1px solid #1FFF00; }
        
        #container input:focus, #container select:focus {
            border: 1px solid #a90329;
            color: #a90329;
        }

    #container select { padding: 5px 0 5px 25px; }
        #container option { padding: 0 15px; }

    #container label {
        color: #666;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
        float: right;
        margin: 23px -25px;
        width: 270px;
    }
    

#progress_bar {
    background: url('../images/progress_bar.png') no-repeat;
    width: 339px;
    height: 24px;
    margin: 0 auto;
    position: relative;
}

#progress {
    background: url('../images/progress.png') repeat-x;
    width: 0px;
    height: 23px;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
#progress_text {
    position: relative;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #222;
    width: 339px;
    height: 24px;
    top: -23px;
    left: 0;
}



#barfixed {
    position: fixed;
    top: 0px;
    width: 100%!important;
    height: 33px;
    z-index: 3000000;
   padding-left: 100px;
   padding-top: 10px;
    font-family: Arial, Helvetica;
    color: #585858;
    /* Adds shadow to the bottom of the bar */
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    /* Adds the transparent background */
    background-color: rgba(1, 1, 1, 0.8);
}



#barfixed a {
color: white;
text-decoration: none;
}

#barfixed p {

display: inline;
font-size: 18px;
width: 100px;
position: relative;
left: 50%;
margin-left: -150px;
color: white;
text-decoration: none;
}

#barfixed a:hover {
color: grey;
}


nav>div {background-color: rgb(188,28,28); border-radius:12px 8px 8px 12px}

ul.menu-services {margin:0 1px 0 0;  border-right:black 1px solid; display:inline-block; float:left; list-style-type:none;}


ul.menu-services li {float:left; 
                    line-height:17px; 
                    margin:0 0 0 0; 
                    background:url(../images/transp.png) 0 0 repeat; 
                    border-right:black 1px solid; 
                    font-size: 14px;
                    border-left :black 1px solid
}


ul.menu-services li a {line-height:17px !important; 
                        color:#fff; 
                        font-weight:bold; 
                        display:block; 
                        padding:23px 28px 24px 28px
}


ul.menu-services li.home-page {display:inline-block; 
                                background:url(../images/transp.png) 0 0 repeat; 
                                border-radius:8px 0 0 8px; 
                                border:none !important; 
                                border-left :none !important
}


ul.menu-services li:hover , ul.menu li.current {background:url(../images/current.jpg) 0 0 repeat-x #000000;
                                                border-right:#000000 1px solid; 
                                                border-left:#000000 1px solid
}


ul.menu-services li.home-page a {padding:21px 22px 24px 23px !important
}


ul.menu-services li.home-page span {background:url(../images/home-page-img.png) 0 0 no-repeat; 
                                    width:19px; 
                                    height:19px; 
                                    display:block
}


.clear2 {clear:both; line-height:0; font-size:0; width:100%}

.social-icons {overflow:hidden; text-align:right; padding:20px 30px 13px ;}
.social-icons span {display:inline-block;  line-height:17px; color:#fff; font-weight:bold; margin:3px 14px 0 0}
.social-icons a {display:inline-block;  font-size : 14px; text-decoration: none; line-height:17px; color:#fff; font-weight:bold; margin:3px 14px 0 0}

